header{
  &.bg-blue{
    background-color: #408DDC;
  }
  &.py-140{
    padding: 140px 0;
    @include media-breakpoint-down(lg){
      padding: 80px 0;
    }
  }
  .text__section{
    width: 585px;
    @include media-breakpoint-down(xl){
      width: 100%;
    }
    p{
      margin-top: 42px;
    }
  }
}