.logo-container{
  .logo{
    z-index: 100;
    width: auto;
    @include media-breakpoint-down(xxl){
      width: 60px;
    }
    @include media-breakpoint-down(lg){
      transform: rotate(90deg);
      left: 60px !important;
      top: -60px !important;
    }
  }
}